<ul>
  <li><a href="/education/high-school-bound/" title="High School Bound">High School Bound</a></li>
  <li><a href="/education/high-school-bound/" title="High School Bound"><img src="/img/education/thumbs/high-school-bound.png?2" width="80px" style="padding-left: 12px;" alt="test"></a></li>
  <li><a href="/education/success-bound/" title="Success Bound">Success Bound</a></li>
  <li><a href="/education/success-bound/" title="Success Bound"><img src="/img/education/thumbs/success-bound.png?2" width="80px" style="padding-left: 12px;" alt="test"></a></li>
</ul>
<span class="extra_programs dropdown-subtitle">Highlights</span>
<ul>
  <li><a href="/education/ausl/" title="Academy for Urban School Leadership">Academy for Urban School Leadership</a></li>
  <li><a href="/education/after-school-matters/" title="After School Matters">After School Matters</a></li>
  <li><a href="/education/teach-for-america/" title="Teach For America">Teach For America</a></li>
</ul>
