<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="/favicon.ico" rel="icon" type="image/ico" />

  <title>{{ page.title }}</title>
  {% if page.metaDesc != null %}
  <meta name="description" content="{{ page.metaDesc }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <link href="/stylesheets/bootstrap.css?v=3" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/pushy.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/overrides.css?v=13" rel="stylesheet" type="text/css" />

  <link rel="canonical" href="http://lefkofskyfoundation.com"/>

  <script src="/js/modernizr-2.5.3.min.js"></script>

</head>
