<ul>
    <li><a href="/human-rights/aclu/" title="ACLU">ACLU</a></li>
    <li><a href="/human-rights/cap/" title="Center for American Progress">Center for American Progress</a></li>
    <li><a href="/human-rights/community-health/" title="Community Health">Community Health</a></li>
    <li><a href="/human-rights/everytown-for-gun-safety/" title="Everytown for Gun Safety">Everytown for Gun Safety</a></li>
    <li><a href="/human-rights/responsible-solutions/" title="Americans for Responsible Solutions">Americans for Responsible Solutions</a></li>
    <li><a href="/human-rights/the-homestretch/" title="The Homestretch">The Homestretch</a></li>
    <li><a href="/human-rights/human-rights-watch/" title="Human Rights Watch">Human Rights Watch</a></li>
    <li><a href="/human-rights/jewish-united-fund/" title="The Jewish United Fund">The Jewish United Fund</a></li>
    <li><a href="/human-rights/medical-mission-for-children/" title="Medical Missions for Children">Medical Missions for Children</a></li>
    <li><a href="/human-rights/newtown/" title="Newtown: A Documentary">Newtown: A Documentary</a></li>
    <li><a href="/human-rights/personal-pac/" title="Personal PAC">Personal PAC</a></li>
    <li><a href="/human-rights/planned-parenthood-of-illinois/" title="Planned Parenthood">Planned Parenthood</a></li>
    <li><a href="/human-rights/representation-project/" title="The Representation Project">The Representation Project</a></li>
    <li><a href="/human-rights/rfk-center/" title="RFK Center">RFK Center</a></li>
</ul>
