<ul>
    <li><a href="/human-rights/culture-change-collaborative-fund/" title="Culture Change Collaborative Fund">Culture Change Collaborative Fund</a></li>
    <li><a href="/human-rights/fund-for-a-safer-future/" title="Fund for a Safer Future">Fund for a Safer Future</a></li>
    <li><a href="/human-rights/rainbow-railroad/" title="Rainbow Railroad">Rainbow Railroad</a></li>
    <!-- <li><a href="/human-rights/cap/" title="Center for American Progress">Center for American Progress</a></li>
    <li><a href="/human-rights/community-health/" title="CommunityHealth">CommunityHealth</a></li>
    <li><a href="/human-rights/everytown-for-gun-safety/" title="Everytown for Gun Safety">Everytown for Gun Safety</a></li>
    <li><a href="/human-rights/the-homestretch/" title="The Homestretch">The Homestretch</a></li>
    <li><a href="/human-rights/human-rights-watch/" title="Human Rights Watch">Human Rights Watch</a></li>
    <li><a href="/human-rights/medical-missions-for-children/" title="Medical Missions for Children">Medical Missions for Children</a></li>
    <li><a href="/human-rights/newtown/" title="Newtown">Newtown</a></li>
    <li><a href="/human-rights/partnership-for-safe-and-peaceful-communities/" title="Partnership for Safe and Peaceful Communities">Partnership for Safe and Peaceful Communities</a></li>
    <li><a href="/human-rights/peer-health-exchange/" title="Peer Health Exchange">Peer Health Exchange</a></li>
    <li><a href="/human-rights/planned-parenthood-of-illinois/" title="Planned Parenthood">Planned Parenthood</a></li>
    <li><a href="/human-rights/rfk-center/" title="RFK Center">RFK Center</a></li>
    <li><a href="/human-rights/urban-warriors/" title="Urban Warriors">Urban Warriors</a></li> -->
</ul>
