  <nav id="lff_menu">
  <a id="about" class="about" href="/about/" title="About LFF">About LFF</a>
  <a id="founders" class="about" href="/founders-message/" title="Founder's Message">Founders Message</a>
  <a id="liz-lefkofsky" class="about" href="/liz-lefkofsky/" title="Liz Lefkofsky">Liz Lefkofsky</a>
  <a id="eric-lefkofsky" class="about" href="/eric-lefkofsky/" title="Eric Lefkofsky">Eric Lefkofsky</a>
  <a id="grants" href="/grants/" title="Grants">Grants</a>
  <a id="guidelines" href="/guidelines/" title="Guidelines">Guidelines</a>
  <a id="newsroom" href="/newsroom/" title="Newsroom">Newsroom</a>
  <a id="contact" href="/contact/" title="Contact Us">Contact Us</a>
  </nav>
