<!-- SQUARES -->
<div id="holder" class="clearfix">
  <!-- education -->
  <div id="education_squares" class="square_container clearfix">
    <div id="education_nav" class="grant_nav nano">
      <div class="content">
        <span class="extra_programs">LFF PROGRAMS</span>
        {% include education_links.html %}
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- human -->
  <div id="human_squares" class="square_container clearfix">
    <div id="human_nav" class="grant_nav nano">
      <div class="content">
        <span class="extra_programs">Highlights</span>
        {% include human_links.html %}
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- medical -->
  <div id="medical_squares" class="square_container clearfix">
    <div id="medical_nav" class="grant_nav nano">
      <div class="content">
        <span class="extra_programs">Highlights</span>
        {% include medical_links.html %}
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- arts -->
  <div id="arts_squares" class="square_container clearfix">
    <div id="arts_nav" class="grant_nav nano">
      <div class="content">
        <span class="extra_programs">Highlights</span>
        {% include arts_links.html %}
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- display -->
  <div class="square_container clearfix">
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  {{ content }}
</div>
