<!-- SQUARES -->
<div id="holder" class="clearfix">
  <!-- education -->
  <div id="education_squares" class="square_container clearfix">
    <div id="education_nav" class="grant_nav nano">
      <div class="content">
        <!-- <span class="extra_programs">LFF Initiatives</span> -->
        {% include education_links.html %}
        <span class="extra_programs">Past and Current Partners</span>
        <ul>
          <li>After School Matters</li>
          <li>CASEL</li>
          <li>Chicago Public Education Fund</li>
          <li>Children First Fund</li>
          <li>High Jump</li>
          <li>Kids First</li>
          <li>Leading Educators</li>
          <li>EAP innovations</li>
          <li>Peer Health Exchange</li>
          <li>Sandy Hook Promise</li>
          <li>Teach for America</li>
          <li>University of Chicago Urban Labs</li>
          <li>University of Michigan </li>
        </ul>
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- human -->
  <div id="human_squares" class="square_container clearfix">
    <div id="human_nav" class="grant_nav nano">
      <div class="content">
        <span class="extra_programs">Highlights</span>
        {% include human_links.html %}
        <span class="extra_programs">Past and Current Partners</span>
        <ul>
          <li>American Civil Liberties Union</li>
          <li>Anti-Defamation League</li>
          <li>Center for American Progress</li>
          <li>Chicago Foundation for Women Catalyst Fund</li>
          <li>Community Health</li>
          <li>Everytown for Gun Safety</li>
          <li>The Homestretch</li>
          <li>Human Rights Watch</li>
          <li>Medical Missions for Children</li>
          <li>Midwest Access Project</li>
          <li>Newtown</li>
          <li>Partnership for Safe and Peaceful Communities</li>
          <li>Planned Parenthood</li>
          <li>RFK Center</li>
          <li>Urban Warriors</li>
        </ul>
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- medical -->
  <div id="medical_squares" class="square_container clearfix">
    <div id="medical_nav" class="grant_nav nano">
      <div class="content">
        <!-- <span class="extra_programs">Highlights</span> -->
        {% include medical_links.html %}
        <span class="extra_programs">Past and Current Partners</span>
        <ul>
          <li>Alzheimer’s Drug Discovery Foundation</li>
          <li>American Brain Tumor Association</li>
          <li>Ann & Robert H. Lurie Children’s Hospita</li>
          <li>Cleveland Clinic</li>
          <li>Columbia University Medical Center</li>
          <li>Damon Runyon</li>
          <li>Duke Medicine</li>
          <li>Johns Hopkins Medicine</li>
          <li>Lustgarten Foundation</li>
          <li>Mayo Clinic</li>
        </ul>
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- arts -->
  <div id="arts_squares" class="square_container clearfix">
    <div id="arts_nav" class="grant_nav nano">
      <div class="content">
        <span class="extra_programs">Highlights</span>
        {% include arts_links.html %}
        <span class="extra_programs">Past and Current Partners</span>
        <ul>
          <li>Anderson Ranch </li>
          <li>Aspen Art Museum </li>
          <li>Aspen Institute </li>
          <li>Chicago Architecture Biennial </li>
          <li>Chicago Ideas Week </li>
          <li>Joffrey Ballet </li>
          <li>Millennium Park Foundation </li>
          <li>MoMa</li>
          <li>Museum of Science and Industry </li>
          <li>Printers Row Lit Fest</li>
          <li>Ravinia </li>
          <li>The Renaissance Society </li>
          <li>Venice Biennale </li>
          <li>Whitney Museum of American Art </li>
        </ul>

      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- display -->
  <div class="square_container clearfix">
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  {{ content }}
</div>
