<!-- SQUARES -->
<div id="holder" class="clearfix">
  <!-- education -->
  <div id="education_squares" class="square_container clearfix">
    <div id="education_nav" class="grant_nav nano">
      <div class="content">
        {% include education_links.html %}
        <span class="extra_programs">Additional Programs</span>
        <ul>
            <li>Depaul University</li>
            <li>Evans Scholars Foundation</li>
            <li>Moneythink</li>
            <li>New Leaders</li>
            <li>North Lawndale College Preparatory Charter High School</li>
            <li>OneGoal</li>
            <li>The Ounce of Prevention Fund</li>
            <li>The University of Chicago Booth School of Business</li>
            <li>University of Michigan</li>
        </ul>
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- human -->
  <div id="human_squares" class="square_container clearfix">
    <div id="human_nav" class="grant_nav nano">
      <div class="content">
        {% include human_links.html %}
        <span class="extra_programs">Additional Programs</span>
        <ul>
            <li>Anti-Defamation League</li>
            <li>AJC Global Jewish Advocacy</li>
            <li>Illinois Holocaust Museum and Education Center</li>
            <li>Inspiration Corporation</li>
            <li>Misericordia</li>
            <li>Pencils of Promise</li>
            <li>Project Night Night</li>
            <li>SCOPE</li>
            <li>Shining Hope for Communities</li>
            <li>Spark Ventures</li>
            <li>The American Israel Public Affairs Committee (AIPAC)</li>
            <li>The Washington Institute for Near East Policy</li>
            <li>United States Holocaust Memorial Museum</li>
        </ul>
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- medical -->
  <div id="medical_squares" class="square_container clearfix">
    <div id="medical_nav" class="grant_nav nano">
      <div class="content">
        {% include medical_links.html %}
        <span class="extra_programs">Additional Programs</span>
        <ul>
            <li>Alzheimer’s Drug Discovery Foundation</li>
            <li>Cleveland Clinic</li>
            <li>Crohn’s & Colitis Foundation of America</li>
            <li>Food Allergy Initiative</li>
            <li>Leukemia & Lymphoma Society</li>
            <li>LUNGevity</li>
            <li>Mayo Clinic</li>
            <li>Memorial Sloan-Kettering Cancer Center</li>
            <li>NorthShore University Health System</li>
            <li>Northwestern Integrative Medicine</li>
            <li>Pancreatic Cancer Action Network</li>
            <li>University of Chicago Medicine</li>
        </ul>
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- arts -->
  <div id="arts_squares" class="square_container clearfix">
    <div id="arts_nav" class="grant_nav nano">
      <div class="content">
        {% include arts_links.html %}
        <span class="extra_programs">Additional Programs</span>
        <ul>
            <li>Chicago Botanic Garden</li>
            <li>The Field Museum</li>
            <li>Harris Theater</li>
            <li>Joffrey Ballet</li>
            <li>John F. Kennedy Center for the Performing Arts</li>
            <li>Lincoln Park Zoo</li>
            <li>The Renaissance Society</li>
            <li>Shedd Aquarium</li>
            <li>Whitney Museum of American Art</li>
            <li>Writers Theatre</li>
        </ul>
      </div>
    </div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  <!-- display -->
  <div class="square_container clearfix">
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
      <div class="main_square"></div>
  </div>
  {{ content }}
</div>
