<div id="top_nav" class="clearfix">
  <div class="grant_container">
    <a id="education" class="icon_nav_link" href="#"><img src="/img/nav/education.png" alt="Education" /><span>Education</span></a>
  </div>
  <div class="grant_container">
    <a id="human" class="icon_nav_link" href="#"><img src="/img/nav/human_rights.png" alt="Human Rights" /><span>Human Rights</span></a>
  </div>
  <div class="grant_container">
    <a id="medical" class="icon_nav_link" href="#"><img src="/img/nav/medical.png" alt="Medical" /><span>Medical</span></a>
  </div>
  <div class="grant_container">
    <a id="arts" class="icon_nav_link" href="#"><img src="/img/nav/arts_culture.png" alt="Arts and Culture" /><span>Arts &amp; Culture</span></a>
  </div>
  <div id="thumbnail_container" class="grant_container update">
    <a title="{{ page.readable_name }}" href="{{ page.link }}" target="_blank">
      <span class="thumb-alignment-helper"></span>
      <img id="project_thumbnail" src="{{ page.thumb }}" alt="{{ page.readable_name }}" />
    </a>
    <span id="grant_thumbnail_name">{{ page.grant_thumbnail_name }}</span>
  </div>
</div>
